.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.eslintrc.json
**/*.map
**/*.ts
node_modules/**
tsconfig.json
PUBLISHING.md
example.sql
*.sql
**/*.chsql
**/*.ch.sql
images/icon.png
coverage/
jest.config.js
src/__tests__/**
out/__tests__/**
plans/
out/**
!out/*.js
!out/providers/
!out/providers/*.js
